.room__container
  width: 270px
  height: 257px
  border-radius: 4px
  background: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)

  .room__wrapper-room-select
    position: relative

  .room__info-room
    padding: 12px 10px

  .room__decorate-line
    margin: 0 auto
    width: 230px
    height: 1px
    background: rgba(31, 32, 65, 0.1)

  .room__wrapper-review
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 8px
    padding-left: 20px
    padding-right: 20px

    .room__review-count
      font-family: $mainfont
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 18px
      text-align: right
      color: $darkshade50