.ui-kit__container
  padding: 0 150px

  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr

  .container__column1
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 1
    grid-row-end: 4
    max-width: 320px

  .column1__dropdown--width266
    width: 266px

  .column1__exp-checkbox
    margin-top: 20px

    &--top
      margin-top: 40px

  .container__column2
    grid-column-start: 2
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 3
  .container__column3
    grid-column-start: 3
    grid-column-end: 4
    grid-row-start: 1
    grid-row-end: 3
  .container__bottom-row
    grid-column-start: 2
    grid-column-end: 4
    grid-row-start: 3
    grid-row-end: 4
    margin-top: 136px


.column2__radio-buttons-container
  margin-top: 40px

.column2__toggle-buttons-container
  margin-top: 40px

.column2__like-button-container
  margin-top: 44px

.column2__rate-buttons-container
  margin-top: 40px

.column2__rich-checkbox-buttons-container
  margin-top: 40px

  &--top
    margin-top: 84px


.container__column3
  .column3__range-slider
    padding-bottom: 40px

  .column3__pagination-template
    margin-bottom: 40px

  .column3__buttons
    margin-bottom: 10px

    .buttons_container
      display: flex
      flex-direction: column
      align-items: flex-start

      & > .buttons__wrapper
        margin-bottom: 30px

  .column3__bullet-list-container--top
    margin-top: 100px

.column4__info-img-wrapper
  display: flex
  flex-direction: column
  .info-img-wrapper__content
    margin-bottom: 40px