extends ../../layout/ui-kit

include ../../utils/logo-ui-kit/logo-ui-kit
include ../../utils/textinput/textinput
include ../../utils/dropdown/dropdown
include ../../utils/subscription/subscription
include ../../utils/checkbox/checkbox
include ../../utils/exp-checkbox/exp-checkbox
include ../../utils/info-img/info-img
include ../../utils/radio-buttons/radio-buttons
include ../../utils/toggle/toggle
include ../../utils/rate-buttons/rate-buttons
include ../../utils/like-button/like-button
include ../../utils/rich-checkbox-button/rich-checkbox-button
include ../../utils/bullet-list/bullet-list
include ../../utils/buttons/buttons
include ../../utils/range-slider/range-slider
include ../../utils/pagination-template/pagination-template
include ../../utils/comments/comments

//- include ../../utils/text-field/text-field.pug
include ../../utils/datedropdown/filter-date/filter-date



block variables
  - var pageTitle = 'Form Elements';
  - var pageDescription = 'Form Elements. Task 2';

block content
  .ui-kit__logo-wrapper
    +logoimg()
  .ui-kit__container
    section.container__column1
      +textinput({
        type: 'email',
        name: 'email',
        placeholder: 'Email',
        istitle: true,
        texttitle: 'Text Field',
        margintop: ''
      })
      +dropdown({
        type: 'guess',
        name: 'text',
        placeholder: 'Сколько гостей',
        istitle: true,
        texttitle: 'Dropdown',
        name: ['взрослые', 'дети', 'младенцы'],
        row: [1, 2, 3]
      })
      +textinput({
        type: 'date',
        name: 'date',
        placeholder: 'дд.мм.гггг',
        istitle: true,
        texttitle: 'masked text field',
        margintop: 'text-input--margin-top'
      })
      +filter-date({ inputFieldType: 'range', firstHeader: 'date Dropdown', secondHeader: 'date Dropdown', })
      +filter-date({ firstHeader: 'filter date dropdown', })
      +subscription({
        type: 'text',
        name: 'subscription',
        placeholder: 'Email',
        istitle: true,
        texttitle: 'subscription text field'
      })
      //- rewrite, add options for drop-menu
      +dropdown({
        type: 'bed',
        name: 'text',
        placeholder: 'Сколько спален',
        istitle: true,
        texttitle: 'Dropdown',
        name: ['спальни', 'кровани', 'ванные'],
        row: [11, 12, 13]
      })
      +exp-checkbox({blockname: 'column1__exp-checkbox', arrayItems: ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь']})
      +info-img({
        blockname: 'column1',
        nameimg: 'tag_faces',
        colorimg: 'purple-gradient',
        sizeimg: 'large',
        maintitle: 'Комфорт',
        descrip: 'Шумопоглощающие стены'
      })
      +info-img({
        blockname: 'column1',
        nameimg: 'location_city',
        colorimg: 'purple-gradient',
        sizeimg: 'large',
        maintitle: 'Удобство',
        descrip: 'Окно в каждой из спален'
      })
    section.container__column2
      .column2__checkbox-buttons
        +heading({typetag: 3, text: 'Checkbox Buttons', classmodify: 'checkbox-buttons__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +checkbox({arrayItems: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']})
      .column2__radio-buttons
        +heading({typetag: 3, text: 'Radio Buttons', classmodify: 'radio-buttons__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +radio-buttons({arrayItems: ['Мужчина', 'Женщина']})
      .column2__toggle-buttons
        +heading({typetag: 3, text: 'toggle', classmodify: 'toggle-buttons__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +toggle({ labelname: 'Получать спецпредложения', idname: 'one' })
      .column2__like-button
        +heading({typetag: 3, text: 'like button', classmodify: 'like-button__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +like-button()
      .column2__rate-buttons
        +heading({typetag: 3, text: 'rate button', classmodify: 'rate-buttons__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +rate-buttons()
      .column2__rich-checkbox-buttons
        +heading({typetag: 3, text: 'Rich Checkbox Buttons', classmodify: 'rich-checkbox-buttons__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +rich-checkbox-button({
          arrayItems: [
            ['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.'],
            ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.']
          ]
        })
    section.container__column3
      .column3__range-slider
        +range-slider({title: 'Range Slider'})
      .column3__buttons
        +heading({typetag: 3, text: 'buttons', classmodify: 'buttons__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        .buttons_container
          +buttons({
          type: 'button',
          text: 'click me',
          infotype: 'primary',
          icon: false
          })
          +buttons({
            type: 'button',
            text: 'click me',
            infotype: 'secondary',
            icon: false
          })
          +buttons({
            type: 'button',
            text: 'click me',
            infotype: 'link',
            icon: false
          })
          +buttons({
            type: 'submit',
            text: 'перейти к оплате',
            infotype: 'primary',
            icon: true
          })

      .column3__pagination-template
        +heading({typetag: 3, text: 'pagination', classmodify: 'pagination-template__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +pagination-template()
      .column3__bullet-list
        +heading({typetag: 3, text: 'bullet list', classmodify: 'bullet-list__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
        +bullet-list({
          arrayItems: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
        })

    section.container__column4
      .column4__comments
        +comments({
          name: 'Мурад Сарафанов',
          days: '5 дней назад',
          body: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        })