extends ../../layout/ui-kit

include ../../utils/logo-ui-kit/logo-ui-kit
include ../../utils/textinput/textinput


block variables
  - var pageTitle = 'Form Elements';
  - var pageDescription = 'Form Elements. Task 2';

block content
  .ui-kit__logo-wrapper
    +logoimg()
  .ui-kit__container
    section.container__column1
      +textinput({
        classname: 'email',
        type: 'email',
        name: 'email',
        placeholder: 'Email',
        istitle: true,
        texttitle: 'Text Field'
      })
    section.container__column2
    section.container__column3