extends ../../layout/ui-kit

include ../../utils/logo-ui-kit/logo-ui-kit
include ../../utils/textinput/textinput
include ../../utils/dropdown/dropdown
include ../../utils/subscription/subscription

//- include ../../utils/text-field/text-field.pug
include ../../utils/datedropdown/filter-date/filter-date



block variables
  - var pageTitle = 'Form Elements';
  - var pageDescription = 'Form Elements. Task 2';

block content
  .ui-kit__logo-wrapper
    +logoimg()
  .ui-kit__container
    section.container__column1
      +textinput({
        type: 'email',
        name: 'email',
        placeholder: 'Email',
        istitle: true,
        texttitle: 'Text Field'
      })
      +dropdown({
        type: 'guess',
        name: 'text',
        placeholder: 'Сколько гостей',
        istitle: true,
        texttitle: 'Dropdown'
      })
      +textinput({
        type: 'date',
        name: 'date',
        placeholder: 'дд.мм.гггг',
        istitle: true,
        texttitle: 'masked text field'
      })
      +filter-date({ inputFieldType: 'range', firstHeader: 'date Dropdown', secondHeader: 'date Dropdown', })
      +filter-date({ firstHeader: 'filter date dropdown', })
      +subscription({
        type: 'text',
        name: 'subscription',
        placeholder: 'Email',
        istitle: true,
        texttitle: 'subscription text field'
      })
      //- +textinput({
      //-   type: 'month',
      //-   name: 'datetime',
      //-   placeholder: 'Email arrow_forward',
      //-   istitle: true,
      //-   texttitle: 'subscription text field'
      //- })
    section.container__column2
    section.container__column3