mixin material-icons({ type = 'Enter symbol text', color, size, } = {})
  - let colorModifier = ''
  - let sizeModifier = ''

  case color
    when 'dark-shade'
      - colorModifier = ' material-icons_color_dark-shade'
    when 'shade'
      - colorModifier = ' material-icons_color_shade'
    when 'light-shade'
      - colorModifier = ' material-icons_color_light-shade'
    when 'white'
      - colorModifier = ' material-icons_color_white'
    when 'purple-gradient'
      - colorModifier = ' material-icons_color_purple-gradient'

  case size
    when 'large'
      - sizeModifier = 'material-icons_size_large'
    when 'small'
      - sizeModifier = 'material-icons_size_small'

  i.material-icons(class=`${sizeModifier}${colorModifier}`)=type