.checkbox-list__item
  list-style: none
  width: 226px
  display: flex
  margin: 15px

.checkbox-list__input
  margin-right: 10px 

.checkbox-list__label
  font-family: $fontsans
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  color: $darkshade50