extends ../../layout/ui-kit

include ../../utils/forms/signup/signup
include ../../utils/logotype/logotype
include ../../utils/buttons/buttons
include ../../utils/material-icons/material-icons


block variables
  - let pageTitle = 'Link page';
  - let pageDescription = 'Link page. Task 2';


block content
  .link-page__container
    a(href="colors-and-type.html" target="_blank") Colors and type
    a(href="form-elements.html" target="_blank") Form elements
    a(href="cards.html" target="_blank") Cards
    a(href="headers-and-footers.html" target="_blank") Headers and Footers
    a(href="landing-page.html" target="_blank") Landing page
    a(href="search-room.html" target="_blank") Search room
    a(href="room-details.html" target="_blank") Room details
    a(href="signin.html" target="_blank") Sign In
    a(href="signup.html" target="_blank") Sign Up