.heading-item
  display: flex
  max-width: 405px

  &__label
    color: $darkshade25

.heading-text
  font-family: $fontsans

  &--h1
    font-size: 24px
    line-height: 30px

// // .heading-text--h2
// .heading-text--h3
//   font-size: 12px
//   line-height: 15px
// .heading-text--body

.heading-text--style-normal
  font-style: normal
  font-weight: normal
.heading-text--style-bold
  font-style: normal
  font-weight: bold