$sizeRange: 12px
$borderRadiusRange: 10px
$backgroundRange: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
$borderRange: 1px solid  #ffffff


.range-slider__container
  width: 266px
  padding-bottom: 20px

  .range-slider__head-wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 24px

    .range-slider__title
      font-family: $fontsans
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-transform: uppercase

    .range-slider__cost
      font-family: $fontsans
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      color: $darkshade50

  .range-slider__slider-wrapper
    position: relative
    // height: 50px
    display: block
    width: 100%

    .range-slider__input
      position: absolute
      box-sizing: border-box
      appearance: none
      width: 100%
      height: 6px
      margin: 0
      border: 0
      outline: none
      background-size: 100% 2px
      border-radius: 3px
      pointer-events: none
      box-shadow: inset 0 0 3px $darkshade75

      &:active,
      &:focus 
        outline: none

      &::-webkit-slider-thumb 
        -webkit-appearance: none

      &::-ms-track 
        width: 100%
        cursor: pointer

        background: transparent 
        border-color: transparent
        color: transparent

        height: 8.4px
        cursor: pointer
        background: transparent
        border-color: transparent
        border-width: 16px 0
        color: transparent

      &::-ms-fill-lower 
        background: #2a6495
        border: 0.2px solid #010101
        border-radius: 2.6px
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

      &:focus::-ms-fill-lower 
        background: #3071a9

      &::-ms-fill-upper 
        background: #3071a9
        border: 0.2px solid #010101
        border-radius: 2.6px
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

      &:focus::-ms-fill-upper 
        background: #367ebd

      &::-webkit-slider-thumb 
        height: $sizeRange
        width: $sizeRange
        border-radius: $borderRadiusRange
        border: $borderRange
        background: $backgroundRange
        position: relative
        z-index: 50
        cursor: pointer
        appearance: none
        pointer-events: all
        box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25)

      &::-moz-range-thumb 
        height: $sizeRange
        width: $sizeRange
        border-radius: $borderRadiusRange
        border: $borderRange
        background: $backgroundRange
        position: relative
        z-index: 50
        cursor: pointer
        appearance: none
        pointer-events: all
        box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25)

      &::-ms-thumb 
        height: $sizeRange
        width: $sizeRange
        border-radius: $borderRadiusRange
        border: $borderRange
        background: $backgroundRange
        position: relative
        z-index: 10000
        cursor: pointer
        appearance: none
        pointer-events: all
        box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25)

    .range-slider__span-color
      background: $backgroundRange
      border-radius: 3px
      width: 100%
      display: block
      height: 6px
      position: absolute
      z-index: 10