// Font
.modf__font-family--open-sans
  font-family: $fontsand
.modf__font-family--quicksand
  font-family: $fontsans

.modf__font-weight--normal
  font-style: normal
  font-weight: normal
.modf__font-weight--bold
  font-style: normal
  font-weight: bold


// colors
.modf__color--darkshade100
  background: $darkshade100
.modf__color--darkshade75
  background: $darkshade75
.modf__color--darkshade50
  background: $darkshade50
.modf__color--darkshade25
  background: $darkshade25
.modf__color--darkshade5
  background: $darkshade5
.modf__color--purple
  background: $purple
.modf__color--green
  background: $green