.text-input
.column1__text-input

.text-input--margin-top
  margin-top: 20px

.text-input__input
  width: 100%
  height: 44px
  background: #FFFFFF
  border: 1px solid $darkshade25
  box-sizing: border-box

  padding: 15px
  font-size: 14px
  line-height: 18px
  border-radius: 4px
  color: $darkshade25

  &:hover
    border: 1px solid rgba(31, 32, 65, 0.5)
    color: $darkshade75

  &:focus
    outline: none
    border: 1px solid $darkshade50
    color: $darkshade75

  &::-webkit-calendar-picker-indicator
    display: none

  &::-webkit-datetime-edit-day-field:focus
    background: $darkshade50
  &::-webkit-datetime-edit-month-field:focus
    background: $darkshade50
  &::-webkit-datetime-edit-year-field:focus
    background: $darkshade50