mixin color ({namecolor, hexcolor, value} = {})
  .colors-item
    div(class= 'colors-item__cell colors-item__cell--' + value)
    .colors-item__info
      p.info__namecolor= namecolor
      p.info__hexcolor= hexcolor