mixin color ({namecolor, hexcolor, value} = {})
  .colors-item
    div(class= `colors-item__cell modf__color--${value}`)
    .colors-item__info
      p.info__namecolor.modf__font-family--quicksand.modf__font-weight--bold= namecolor
      p.info__hexcolor.modf__font-family--quicksand= hexcolor