.colors-item
  display: flex
  align-items: flex-end
  padding: 10px

.colors-item__cell
  width: 70px
  height: 70px
  border-radius: $borderRadius

.colors-item__info
  padding-left: 30px
  font-size: 19px
  line-height: 29px
  align-items: center
    
.info__namecolor
  font-family: $fontsand
  font-style: normal
  font-weight: bold

.info__hexcolor
  font-family: $fontsand
  font-style: normal
  font-weight: normal


.colors-item__cell--100
  background: $darkshade100
.colors-item__cell--75
  background: $darkshade75
.colors-item__cell--50
  background: $darkshade50
.colors-item__cell--25
  background: $darkshade25
.colors-item__cell--5
  background: $darkshade5
.colors-item__cell--purple
  background: $purple
.colors-item__cell--green
  background: $green