mixin textblock({blockType, size, color, text, subClass} = {})
  - let blockType = `textblock__header--`


  case typetag
    when 1
      div(class=`${classmodify}`)= text
    when 2
      div(class=`${classmodify}`)= text
    when 3
      div(class=`${classmodify}`)= text
    default
      div(class=`${classmodify}`)= text