.column1__subscription
.subscription
  position: relative

.subscription--margin-top
  margin-top: 40px

.subscription__title

.subscription__input
  width: 268px
  height: 44px
  background: #FFFFFF
  border: 1px solid $darkshade25
  box-sizing: border-box

  padding: 15px
  font-size: 14px
  line-height: 18px
  border-radius: 4px
  color: $darkshade25

  &:hover
    border: 1px solid rgba(31, 32, 65, 0.5)
    color: $darkshade75
  &:focus
    outline: none
    border: 1px solid $darkshade50
    color: $darkshade75

.subscription__arrow_forward
  position: absolute
  top: 25px
  left: 234px
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  background-clip: text
  -webkit-text-fill-color: transparent

  cursor: pointer
