.ui-kit__container-cards
  width: 100%
  height: 100vh

  display: flex
  justify-content: center
  align-items: center

  .container-cards__cards-column1

  .container-cards__cards-column2
  
  .container-cards__cards-column3