extends ../../layout/ui-kit

include ../../utils/logo-ui-kit/logo-ui-kit
include ../../utils/heading/heading
include ../../utils/forms/room-selection/room-selection
include ../../utils/forms/signup/signup
include ../../utils/forms/signin/signin
include ../../utils/forms/deal/deal
include ../../utils/forms/room/room

block variables
  - var pageTitle = 'Cards';
  - var pageDescription = 'Cards. Task 2';

block content
  .ui-kit__logo-wrapper
    +logoimg()
  .ui-kit__container-cards
    section.container-cards__cards-column1
      .cards-column1__room-selection
        +room-selection()
      .cards-column1__signup
        +signup()
    section.container-cards__cards-column2
      .cards-column2__deal
        +deal()
      .cards-column2__signin
        +signin()
    section.container-cards__cards-column3
      .cards-column3__room
        +room({
          number: '888',
          luxury: false,
          cost: '9990',
          reviewcount: '145',
          rate: '4'
        })
      .cards-column3__room
        +room({
          number: '840',
          luxury: true,
          cost: '9900',
          reviewcount: '65',
          rate: '2'
        })
