.exp-checkbox--margin-top
  margin-top: 50px

.exp-checkbox
  width: 266px
  height: 300px

.exp-checkbox__header-container
  display: flex
  align-items: center
  justify-content: space-between

.exp-checkbox__arrow-down
  margin-right: 6px
  display: flex
  align-items: center
  justify-content: center

.exp-checkbox__checkbox-list-container
  display: none
.exp-checkbox__checkbox-list-container--active
  display: block
  border: 1px solid black