include ../../utils/checkbox/checkbox

mixin exp-checkbox({blockname, arrayItems} = {})
  div(class=`${blockname} exp-checkbox exp-checkbox--margin-top-bottom`)
    .exp-checkbox__header-container
      +heading({typetag: 3, text: 'expandable checkbox list', classmodify: 'exp-checkbox__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
      .exp-checkbox__arrow-down
        +material-icons({ type: 'keyboard_arrow_down' })
    .exp-checkbox__checkbox-list-container
      +checkbox({arrayItems})