mixin like-button()
  .like-button__container
    button.like-button__button(type='button' name='rating')
      .like-button_wrapper
        .like-button_icon favorite_border
        .like-button_info 11