.search-room__container
  .search-room__header
    
  .search-room__body
    display: flex
    justify-content: space-around
    margin-left: 140px
    margin-right: 140px
    .search-room__body-left-column-wrapper
    .search-room__body-right-column-wrapper
      
  .search-room__footer