.column1__dropdown
.dropdown
  position: relative

.dropdown--margin-top
  margin-top: 20px

.dropdown__input
  width: 100%
  height: 44px
  background: #FFFFFF
  border: 1px solid $darkshade25
  box-sizing: border-box

  padding: 15px
  font-size: 14px
  line-height: 18px
  border-radius: 4px
  color: $darkshade25

  &:hover
    border: 1px solid rgba(31, 32, 65, 0.5)
    color: $darkshade75
  &:focus
    outline: none
    border: 1px solid $darkshade50
    color: $darkshade75

.dropdown__arrow-down
  position: absolute
  top: 25px
  left: 87.5%
  color: $darkshade50

  cursor: pointer

.dropdown__drop-menu
  position: absolute
  display: none
  z-index: 10
  width: 320px
  background: #FFFFFF
  border: 1px solid $darkshade25
  box-sizing: border-box