.column1__dropdown
.dropdown

.dropdown--margin-top
  margin-top: 20px

.text-input__input
  width: 320px
  height: 44px
  background: #FFFFFF
  border: 1px solid $darkshade25
  box-sizing: border-box

  padding: 15px
  font-size: 14px
  line-height: 18px
  border-radius: 4px
  color: $darkshade25

  &:hover
    border: 1px solid rgba(31, 32, 65, 0.5)
    color: $darkshade75
  &:focus
    outline: none
    border: 1px solid $darkshade50
    color: $darkshade75
