.selectcount
  display: flex
  align-items: center
  justify-content: space-between
  padding: 4px

.selectcount__wrapper
  display: flex
  align-items: center

.selectcount__count
  padding: 0 10px

.selectcount__btn
  height: 30px
  width: 30px
  border-radius: 50%
  background: none
  border: 1px solid $darkshade25
  box-shadow: none

  &:focus
    outline: none