.selectcount
  display: flex
  align-items: center
  justify-content: space-between
  padding: 4px 10px

.selectcount__wrapper
  display: flex
  align-items: center

.selectcount__count
  padding: 0 10px
  width: 8px
  text-align: center
  

.selectcount__btn
  height: 30px
  width: 30px
  border-radius: 50%
  background: none
  border: 1px solid $darkshade25
  box-shadow: none

  &:focus
    outline: none


.selectcount__btn-container
  display: flex
  justify-content: space-between
  padding: 10px

.selectcount__btn-reset
  border: none
  background: none
  outline: none
  color: $darkshade50
  text-transform: uppercase
  font-family: $fontsans
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px

.selectcount__btn-apply
  border: none
  background: none
  outline: none
  color: $purple
  text-transform: uppercase
  font-family: $fontsans
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px

.selectcount__btn--visibility
  visibility: hidden