.rate-buttons
  &__title
    margin-bottom: 16px

  &__container
    border: none
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end

  &__input
    margin: 0px
    font-size: 1.4em
    font-family: Material Icons
    color: $darkshade25

    &--active
      color: $purple