mixin rate-buttons()
  .rate-buttons__container
    input.rate-buttons__input#star5(type='radio' name='rating' value='5')
    label.rate-buttons__label(for='star5' title='5 stars')

    input.rate-buttons__input#star4(type='radio' name='rating' value='4')
    label.rate-buttons__label(for='star4' title='4 stars')

    input.rate-buttons__input#star3(type='radio' name='rating' value='3')
    label.rate-buttons__label(for='star3' title='3 stars')

    input.rate-buttons__input#star2(type='radio' name='rating' value='2')
    label.rate-buttons__label(for='star2' title='2 stars')
    
    input.rate-buttons__input#star1(type='radio' name='rating' value='1')
    label.rate-buttons__label(for='star1' title='1 star')
