mixin nav-menu()
  nav.nav-menu
    ul.nav-menu__list
        li.nav-menu__item
          a.nav-menu__link.nav-menu__link--active(target='_blank' rel='noopener noreferrer' href="#") О нас
        li.nav-menu__item
          a.nav-menu__link(target='_blank' rel='noopener noreferrer' href="#") Услуги
            i.material-icons expand_more
          ul.submenu
            li.submenu__item
              a.submenu__link(target='_blank' rel='noopener noreferrer' href="#") Вакансии 1
            li.submenu__item
              a.submenu__link(target='_blank' rel='noopener noreferrer' href="#") Вакансии 2
        li.nav-menu__item
          a.nav-menu__link(target='_blank' rel='noopener noreferrer' href="#") Вакансии
        li.nav-menu__item
          a.nav-menu__link(target='_blank' rel='noopener noreferrer' href="#") Новости
        li.nav-menu__item
          a.nav-menu__link(target='_blank' rel='noopener noreferrer' href="#") Соглашения
            i.material-icons expand_more
          ul.submenu
            li.submenu__item
              a.submenu__link(target='_blank' rel='noopener noreferrer' href="#") Соглашения 1
            li.submenu__item
              a.submenu__link(target='_blank' rel='noopener noreferrer' href="#") Соглашения 2