mixin nav-menu()
  nav.nav-menu
    ul.nav-menu__list
        li.nav-menu__item
          a.nav-menu__link.nav-menu__link--active(href="#") О нас
        li.nav-menu__item
          a.nav-menu__link(href="#") Услуги
            i.material-icons expand_more
          ul.submenu
            li.submenu__item
              a.submenu__link(href="#") Вакансии 1
            li.submenu__item
              a.submenu__link(href="#") Вакансии 2
        li.nav-menu__item
          a.nav-menu__link(href="#") Вакансии
        li.nav-menu__item
          a.nav-menu__link(href="#") Новости
        li.nav-menu__item
          a.nav-menu__link(href="#") Соглашения
            i.material-icons expand_more
          ul.submenu
            li.submenu__item
              a.submenu__link(href="#") Соглашения 1
            li.submenu__item
              a.submenu__link(href="#") Соглашения 2