mixin pagination-template()
  .pagination-template__container
    .pagination-template__number-row
      .pagination-template__button.pagination-template__button--active 1
      .pagination-template__button 2
      .pagination-template__button 3
      .pagination-template__button ...
      .pagination-template__button 15
      .pagination-template__button.pagination-template__arrow_forward arrow_forward
    .pagination-template__number-info 1 – 12 из 100+ вариантов аренды